/Mon Unicode Anonta Font/
@font-face {
font-family:'MON3 Anonta 1';
src:local('MON3 Anonta 1'), url('https://mmwebfonts.comquas.com/fonts/mon3.woff') format('woff'), url('https://mmwebfonts.comquas.com/fonts/mon3.ttf') format('ttf');
}

/* myanmar */	
@font-face {
    font-family: 'Pyidaungsu';
    src: url('pyidaungsu.eot');
    src: url('pyidaungsu.eot?#iefix') format('embedded-opentype'),
         url('pyidaungsu.woff2') format('woff2'),
         url('pyidaungsu.woff') format('woff'),
         url('pyidaungsu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {	
    font-family: 'Mon';	
    src: url('Mon.eot');	
    src: url('Mon.eot?#iefix') format('embedded-opentype'),	
        url('Mon.woff2') format('woff2'),	
        url('Mon.woff') format('woff'),	
        url('Mon.ttf') format('truetype');	
    font-weight: normal;	
    font-style: normal;	
}

header{
	text-align:center;
}

header h2{
	display: none;
}

h3{
	text-align:center;
}

body, section, #container {
	margin: 0px;
	padding: 0px;
}

footer{
	clear:both;
	text-align:center;
	padding-top:30px;
}

textarea{
	max-width:100%;
	min-width:100%;
	min-height:300px;
	padding: 10px;
	line-height: 1.8em;
	font-size: 1em;
	border: 1px solid #5799DA;
	text-align: left;
}

#textContainer {
	text-align: center;
}

#Unicode{
	display:inline-block;
	width:48%;
	padding-left: 10px;
	font-family: "Pyidaungsu","MON3 Anonta 1", "Padauk";
	
	

}

#Zawgyi{
	display:inline-block;
	width:48%;
	padding-right: 10px;
	font-family: "Mon 2012 1", "Mon";
	
	

	
}

@media(max-width:701px){
	


#textContainer {
	padding: 5px; 
}

#Unicode{
	width:100%;
	margin: 0px;
	padding: 0px;
	
}

#Zawgyi{
	width:100%;
	margin: 0px;
	padding: 0px;
}

textarea {
	min-height:200px;
	font-size: .9em;
	padding: 10px !important;
}


}
